FASTLANE_APP_IDENTIFIER=com.loofit.app
APP_STORE_VERSION=1.0.3
ASC_KEY_ID=
# Team API keys require an Issuer ID. Leave empty for an Individual API Key.
ASC_ISSUER_ID=
ASC_KEY_FILEPATH=/absolute/path/to/AuthKey_KEYID.p8

PLAY_STORE_PACKAGE_NAME=com.loofit.app
PLAY_STORE_JSON_KEY=/absolute/path/to/google-play-service-account.json
